* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    /*padding: 16px; tamnaho fixo*/
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media only screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        /*background-color: red;*/
    }
}

.content h1 {
    color: red;
    margin: 0;
}
